

{% block Contenido %}

Hola {{ user.username }},




Has solicitado restablecer tu contraseña para el sitio {{ site.domain }}.
Por favor, haz clic en el siguiente enlace para restablecer tu contraseña:

{{ protocol }}://{{ domain }}}{% url "password_reset_confirm" uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}


Si no solicitaste este restablecimiento de contraseña, ignora este correo electrónico.

Gracias,

{% endblock Contenido %}


