
{% extends 'core/base.html' %} {% block Contenido %}


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-7 d-flex align-items-stretch">
                            <div class="contact-wrap w-80 p-md-6 p-6">
                                <h3 class="mb-4">Escanea el código QR:</h3>
                                <div class="text-muted">Agréganos en WhatsApp,para hacer contacto directo con nuestro personal en despacho:</div>
                                <div class="row">
                                    <img src="{{ MEDIA_URL }} media/default/codigo-laplata.png" height="480" alt="{{ MEDIA_URL }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-secondary w-80 p-md-4 p-0">
                                <h3 class="mb-4 mt-md-4">Acerca de Nosotros:</h3>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title text-sm-center">Localización</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><i class="fa fa-map-marker fa-2x"> Terminal:</i>Taquilla 8, Km 1 - Via La Plata.</p>
                                        <p class="card-text"><i class="fa fa-user fa-2x"> Oficina:</i> km 3 via a Belarcazar</p>
                                        <p class="card-text"><i class="fa fa-envelope fa-2x"> Email: </i> cootranspla@hotmail.com</p>

                                        <div class="card-text"><i class="fa fa-whatsapp fa-2x"></i> Otras sedes:</div>
                                        Neiva
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573115991026" title="Enlace a Whatsapp"> <strong>3115991026</strong> </br> </a>
                                        Cali
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573162655120" title="Enlace a Whatsapp"> <strong>3162655120</strong> </br>  </a>
                                        Popayán
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573153427808" title="Enlace a Whatsapp"> <strong>3153427808</strong> </br>  </a>
                                        Pitalito
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573224541540" title="Enlace a Whatsapp"> <strong>3224541540</strong> </br>  </a>
                                        La Argentina
                                        <a class="section" target="_blank" href="https://api.whatsapp.com/send/?phone=573219703298" title="Enlace a Whatsapp"> <strong>3219703298</strong> </br>  </a>
                                    </div>
                                 <div class="text-sm-center">Enlaces via WhatsApp </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock Contenido %}